[core]
  pager = command -v delta >/dev/null 2>&1 && delta --diff-so-fancy || less
  excludesfile = ~/.gitignore.global

[user]
	name = Igor Stroganov
	email = igor.stroganov@pandadoc.com

[alias]
  aa = add --all
  ai = add --interactive

  b = "!git branch --sort=-committerdate | head -n 20"
  bls = branch -v # list branches with last commit in
  brm = branch -d
  brmf = branch -D
  bmv = branch -m

  ch = checkout
  chb = checkout -b
  cht = checkout -t

  co = commit
  com = commit -m
  coa = commit --amend

  cherrypick = cherry-pick
  cp = cherry-pick

  st = status

  subin = submodule init
  subup = submodule update

  apush = "!git add --all && git commit --amend --no-edit && git push -f"

[push]
  # push easily: http://stackoverflow.com/a/23918418/89484
  default = current
  followTags = true

[pull]
  rebase = true

[interactive]
  diffFilter = command -v delta >/dev/null 2>&1 && delta --color-only || cat

[include]
  path = ~/.gitconfig.local

[use]
	name = Igor Stroganov

[init]
	defaultBranch = main

[merge]
  conflictStyle = zdiff3

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true
    file-decoration-style = 
    hunk-header-style = line-number syntax
    hunk-label =
    hunk-header-decoration-style =
